<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <title>Recipes</title>
</head>
<body>
  <div class="menu">
    <div class="title">
      <h1>Recipes</h1>  
    </div>
    <div class="links">
        <div class="list" ><a href='/recipes'>List</a></div>
        <div class="new" ><a href='/recipes/new'>New recipe</a></div>
    </div>
  </div>
  <div class="main">
    <div class="text">
      <p>Welcome to my website! It has the hottest new recipes that you'll never use. You can upload new recipes,
         delete or edit existing ones, and that's about it.
      </p>
    </div>
    {{{body}}}
  </div>
  <div class="footer">
    <p>Copyright 2018 Flow Academy &copy;</p>
  </div>
</body>
</html>