<h2>New recipe</h2>
<form method="POST" action="/recipes">
  <p>Name of the recipe:</p>
  <input type="text" name="recipename" /> <br>
  <p>Description:</p>
  <textarea name="description"></textarea> <br> <br>
  <input type="submit" value="Create" />
</form>